.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# SwiftBase specific
data/
*.db
*.db-shm
*.db-wal
.env
config/local.json

SOW*.md

TestingUtils

**/node_modules

**/Sources/SwiftBase/Resources/Public/**

**/Sources/SwiftBase/Resources/Config/production.json

**/scratch*.md